<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>dApologetics Search Demo</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/dapologetics_favicon.png" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
       <script src="https://kit.fontawesome.com/06f140e9e9.js" crossorigin="anonymous"></script>
    </head> 
  
  <body>
      <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">dApologetics</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
                    </ul>-->
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <br>
        <div >
            <form class="card p-2" role="search" action="/" spellcheck="false" method="post">
                <div class="input-group">
                    <input name="searched_data" type="text" class="form-control" title="Search" autocomplete="off"placeholder="Type here">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
            <br>
            <!-- Call to Action-->
            
                    
        
                    
                    
                   <!-- <div class="d-flex align-items-center">
         <form class="w-100 me-3" role="search" action="/" spellcheck="false" method="post"> 
                        <div class="search-section">
                            <div class="bar">
                              <input class="searchbar" name="searched_data" type="text" title="Search" autocomplete="off">
                              <div class="buttons">
                              <button class="btn btn-lg btn-primary" type="submit">Search</button>
                             </div>
                            </div>
                        </div>
                    </form>


                    </div>-->
                   
                
            
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
              <% for (let i = 0;i<obj_info.length; i++) { %>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-header">
                            <!--<button type="button" class="btn btn-danger btn-xs btn-rounded waves-effect waves-light"><i class="fas fa-plane pr-2 pt-1" aria-hidden="true"></i>Three</button>-->
                            <span class="badge rounded-pill bg-success"><i class="fa-solid fa-certificate"></i>&nbsp;<%=obj_info[i]['publisher']  %></span>
                        </div>
                        <div class="card-body">
                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                <img src="<%=obj_info[i]['productionimage']  %>" alt="twbs" width="50" height="50" class="rounded-square flex-shrink-0">
                                    <div class="d-flex gap-2 w-85 justify-content-between">
                                      <div class="over">
                                        <h6 class="mb-0"><%=obj_info[i]['production']  %></h6>
                                          <div class="inline">
                                                <p class="mb-0 opacity-75"> <%=obj_info[i]['episodenumber']%></p>
                                              `<p class="mb-0 opacity-75"> <%=obj_info[i]['testament']%></p>
                                                <p>&nbsp;|&nbsp; </p>
                                                <p class="mb-0 opacity-75">Part <%=obj_info[i]['part']  %></p>
                                            </div>
                                      </div>
                                      <small class="opacity-50 text-nowrap"><%=(obj_info[i]['_additional']['certainty']*100).toFixed(2)  %></small>
                                    </div>
                        </a>
                            <!--<h2 class="card-title"></h2>-->
                                <p class="card-text">
                                    
                                    <!--<br>index:<%=obj_info[i]['index']  %> <br>-->
                                    <br><%=obj_info[i]['paragraph']  %> <br>
                                </p>
                        </div>
                    <div class="card-footer inline">
                    <form role="search" action="<%= "/"+obj_info[i]['index']  %>" spellcheck="false" method="get" target="_blank" display="inline-block">
                        
                            <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="myModal2" href="#!"><i class="fa-solid fa-copy"></i></button>
                        
                    </form>&nbsp;
                    <form  role="search" action="<%= "/bible/"+obj_info[i]['index']  %>" spellcheck="false" method="get" target="_blank" display="inline-block">
                        
                            <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="myModal2" href="#!"><i class="fa-solid fa-book-bible"></i></button>
                        
                    </form>
                    </div>
                    </div>
                </div>
                 <% } %>
                
                
            </div>
            
        </div>
    
        <!-- Footer
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer> -->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
      
  
  

</html>